.custom_sec {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background_dots.svg);
    background-repeat: no-repeat;
    background-position: left top 275px;
}

.custom {
    width: 1100px;
    height: 425px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    justify-content: center;
    margin-bottom: 46px;
}


.custom h2::after {
    content: "";
    width: 56px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 60px;  
}

.custom_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.custom_photo {
    display: flex;
    align-items: center;
    gap: 29px;
}

.custom_photo img {
    border-radius: 100px; 
    border: 4px solid #FFFFFF;
}

.custom_quote {
    display: flex;
    width: 420px;
    height: 120px;
}

.arrow ul{
    width: 336px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 222px;
}

.arrow_left img {
    display: flex;

}

.dots {
    display: flex;
    gap: 18px;
}

.arrow_right {
    display: flex;
}
