.download {
    background-image: url(../images/background_dots.svg);
    background-repeat: no-repeat;
    background-position: bottom 560px left 1514px;
}

.download_sec {
    width: 1365px;
    height: 675px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 71px;
    padding-bottom: 266px;
    background-image: url(../images/background_dots.svg);
    background-repeat: no-repeat;
    background-position: bottom 560px left 1514px;
}

.download_content {
    width: 420px;
    display: flex;
    flex-direction: column;
}

.download_content h2::after {
    content: "";
    width: 56px;
    height: 2px;
    background-color: #000000;
    display: block;
    margin-top: 30px;
    margin-bottom: 31px;
}

.download_img {
    display: flex;
}

.download_button {
    display: flex;
    margin-top: 40px;
    justify-content: flex-start;
}

.download_button a {
    display: inline-block;
    border: 1.4px solid #458FF6;
    padding: 3px 51px 1px;
    border-radius: 55px;    
}

.download_button img {
    margin-left: 14px;
}

